.calculator {
  width: 400px;
  position: fixed;
  top: 10%;
  /*bottom: 0;*/
  left: 0;
  right: 0;
  margin: auto;
  border: #555555 solid 2px;
  border-radius: 20px 20px 0 0;
}

.grid-container{
  height: inherit;
  width: inherit;
  display: grid;
  grid-template:  "f f f o"
                  "d d d o"
                  "d d d o"
                  "d d d o"
                  "d d d o";
}

.grid-item{
  height: 85px;
  min-width: 85px;
}

.function-keys{
  grid-area: f;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.digit-keys{
  grid-area: d;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.operator-keys{
  grid-area: o;
  display: grid;
  /*grid-template-columns: repeat(1, 1fr);*/
  grid-template-rows: repeat(5, 1fr);
}

.operator-keys .calculator-key{
  background-color: #D0021B;
  color: white;
}

.key-0{
  grid-column: 1/3;
}